---
layout: default
title: Tóth Zoltán
---

<div>
	<h2>Személyes adatok</h2>
	<table>
		<tr>
			<td>Név</td>
			<td>Tóth Zoltán</td>
			<td rowspan='5'><img src="tz.png" /></td>
		</tr>
		<tr>
			<td>Szül. hely és idő</td><td>Budapest IX, 1992.03.14.</td>
		</tr>
		<tr>
			<td>Mobil</td>
			<td>
				+36 (30) 517-4765<br />
				+36 (20) 310-7686
			</td>
		</tr>
		<tr>
			<td>E-mail</td>
			<td>
				<a href="mailto:toth.zoltan@dosz.hu">toth.zoltan@dosz.hu</a>
				<br />
				<a href="mailto:toth.zoltan@vet.bme.hu">toth.zoltan@vet.bme.hu</a>
			</td>
		</tr>
		<tr></tr>
	</table>
</div>

<div>
	<h2>Tanulmányok</h2>
	{% assign tanulmanyok = (site.data.tanulmanyok.tanulmanyok | sort: 'date_start' | reverse) %}
	{% for tanulmany in tanulmanyok%}	
	<div>	
		<table>
			<tr>
				<td class='plus2 bold'>{{ tanulmany.egyetem }}</td>
			</tr>
			<tr>
				<td>{{ tanulmany.kar }}</td>
			</tr>
			<tr>
				<td>{{ tanulmany.szak }}</td>
				<td>{{ tanulmany.date_start }} - {{ tanulmany.date_end }}</td>
			</tr>
			<tr class="border_bottom">
				<td>{{ tanulmany.tema }}</td>
				<td></td>
			</tr>
		</table>
	</div>
	{% endfor %}
</div>

<div>
	<h2>Nyelvtudás</h2>
	<table>
	{% assign nyelvek = site.data.nyelvek.nyelvek %}
	{% for nyelv in nyelvek%}	
	<tr>
		<td>{{ nyelv.nyelv }}</td>
		<td>{{ nyelv.kiallito }}</td>
		<td>{{ nyelv.fok }}-{{ nyelv.tipus}}</td>
	</tr>
	{% endfor %}
	</table>
</div>

<div>
	<h2>Tagságok, tevékenységek</h2>
	{% assign tagsagok = site.data.tagsagok.tagsagok %}	
	<div>	
		<table>
		{% for tagsag in tagsagok%}
			<tr>
				<td colspan='3'>{{ tagsag.szervezet }}</td>
			</tr>
				{% assign i = -1 %}
			<tr>			
				{% for di in tagsag.szint %}
					{% assign i = i | plus: 1 %}
				<td>{{ tagsag.alszervezet[i] }}</td>
				<td>{{tagsag.szint[i]}}</td>
				<td>{{tagsag.date_start[i]}}-{{tagsag.date_end[i]}}</td>
			</tr>
				{% endfor %}
		{% endfor %}
		</table>
	</div>
	
</div>

<div>
	<h2>Szakmai tapasztalatok</h2>
	<div>
		Szakmai gyakorlat
		<ul>
			<li>2013.június – 2014. május
			<br />Napelemes rendszerek tervezése és kivitelezése – Zöldvillany Kft.
			<li>2015.július – 2015. augusztus
			<br />Villamos Energetika Tanszék – Nagyfeszültségű Laboratórium
		</ul>
		Egyetemi projektmunkák
		<ul>
			<li>Kábelállapot- és diagnosztikai rendszer kialakítása
			<li>BSc-s laborok tartása magyar, német és angol nyelven
			<li>Automata vezérlés tervezése 750kV-os impulzusgenerátorhoz
			<li>Számítógépes interfész tervezése próbatranszformátorhoz
			<li>Laboratóriumi eszközpark nyilvántartó rendszer fejlesztése
			<li>Transzformátor, mérőváltó és megszakító állapottényező program fejlesztése
		</ul>
		Egyetemen kívüli projektek
		<ul>
			<li>Challange24 International Programing Contest (ch24.org)
				<br />2014	szervező
				<br />2015	szervező
				<br />2016	szervező, gazdasági felelős
			<li>BeeSmarter 24-órás Applikáció Fejlesztő és Dizájner Csapatverseny (beesmarter.org)
				<br />2014	szervező
				<br />2015	helyszíni főszervező
				<br />2016	főszervező, gazdasági felelős
			<li>Ethical Hacking Workshop
				<br />2015	FR-ért felelős szervező
			<li>DOSz Sikeres Doktori Kurzussorozat
				<br />2019	szervező
		</ul>
	</div>
</div>

<div>
	<h2>Díjak, elismerések</h2>
	<table>
		{% assign dijak = site.data.dijak.dijak %}
		{% for dij in dijak%}	
		<tr>
			<td>{{ dij.neve }}</td>
			<td>{{ dij.fok }}</td>
			<td>{{ dij.mikor }}</td>
		</tr>
		{% endfor %}
	</table>
</div>

<div>
	<h2>Ösztöndíj</h2>
	<table>
		{% assign osztondijak = site.data.osztondijak.osztondijak %}
		{% for osztondij in osztondijak%}	
		<tr>
			<td>{{ osztondij.neve }}</td>
			<td>{{ osztondij.date_start }}-{{ osztondij.date_end }}</td>
		</tr>
		{% endfor %}
	</table>
</div>

<div>
	<h2>Tudományos tevékenység</h2>
	<table>
		{% assign tudtevek = site.data.tudtevek.tudtevek %}
		{% for tudtev in tudtevek%}	
		<tr>
			<td>{{ tudtev.neve }}</td>
			<td>{{ tudtev.date }}</td>
		</tr>
		{% endfor %}
	</table>
</div>

<div>
	<h2>Cikkek, publikációk</h2>
	<a href="https://m2.mtmt.hu/gui2/?type=authors&mode=browse&sel=10055384&view=simpleList">MTMT</a>
	<br />
	<a href="https://scholar.google.hu/citations?user=jumAWD4AAAAJ&hl=hu">Google Scholar</a>
</div>

<div>
	<h2>Oktatási tevékenység</h2>
	<table>
		{% assign oktatasok = site.data.oktatasok.oktatasok %}
		{% for oktatas in oktatasok%}	
		<tr>
			<td>{{ oktatas.neve }} /{{ oktatas.NEPTUN }}/</td>
			<td>{{ oktatas.date }}</td>
		</tr>
		{% endfor %}
	</table>
</div>
