<div id="fejlec">
	<div class="container" id="headerContainer">
		<div>
			<img src="/logo.png" />
		</div>
		<div id="cimsor">
			Egyetemi Doktorandusz Képviselet<br />
			<label>Budapesti Műszaki és Gazdaságtudományi Egyetem</label>
		</div>
	</div>
	<div class="container" id="menuContainer">
		<ul class="menu">
			<li id="buttonShow">///</li>
			<li><a href="/index.html">Hírek</a></li>
			<li><a href="#">Képviselet</a>
				<ul class="sub">
					<li><a href="/kepviselok.html">Képviselők</a></li></li>
					<li><a href="/delegaltak.html">Delegáltak</a></li></li>
					<li><a href="/to.html">Tudományos Osztályok</a></li></li>
				</ul>
			</li>
			<li><a href="#">Dokumentumok</a>
				<ul class="sub">
					<li><a href="/alapszabaly.html">Alapszabály</a></li>
					<li><a href="/emlekeztetok.html">Emlékeztetők</a></li>
					<li><a href="/hatarozatok.html">Határozatok</a></li>
					<li><a href="/linkek.html">Hasznos linkek</a></li>
					<li><a href="http://ehk.bme.hu/letoltesek/Palyazat/Adatv%C3%A9delmi%20t%C3%A1j%C3%A9koztat%C3%B3.pdf" target="_blank">Adatvédelmi tájékoztató</a></li>
					<li><a href="/sajto.html">Sajtó</a></li>
				</ul>
			</li>
			<li><a href="#">Pályázatok</a>
				<ul class="sub">
					<li><a href="/palyazat_DOK.html">EDK ösztöndíj</a></li>
					<li><a href="http://doktori.bme.hu/bme_palyazat/index.html" target='_blank'>BMe Kutatói Pályázat</a></li>
				</ul>
					
			</li>
			<li><a href="/kurzusok.html">Kurzusok</a></li>
			<li><a href="/gyik.html">GYIK</a></li>
			<li><a href="http://dosz.hu/" target="_blank">DOSz</a></li>
			<li><a href="/EN_index.html"><img src="/img/en.png" alt="English" /></a></li>
		</ul>
	</div>
</div>